@charset "UTF-8";

/*messagebox*/
@import "pop-btn";


.pec-mask {
    position: fixed;
    z-index: 20;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $pec-color-000000;
    opacity: .6;
}

.pec-mask2 {
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 100%;
    top: initial;
    left: 0;
    background: $pec-color-000000;
    opacity: .6;
}

.pec-pop {
    position: fixed;
    z-index: 30;
    top: 50%;
    left: 50%;
    width: 5.90rem;
    padding-top: .60rem;
    border-radius: .10rem;
    overflow: hidden;
    background: $pec-color-FFFFFF;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    h3 {
        font-size: $pec-font-size36;
        line-height: 1;
        font-weight: normal;
        padding: 0 .84rem .50rem;
        text-align: center;
    }
    .pec-pop-content {
        position: relative;
        padding-left: .30rem;
        padding-right: .30rem;
    }
    .pec-pop-main {
        max-height: 2.90rem;
        padding-left: .54rem;
        padding-right: .54rem;
        margin-bottom: .40rem;
        line-height: 1.5;
        text-align: justify;
        overflow-y: auto;
        .pec-pop-message {
            color: $pec-color-6C7684;
            font-size: $pec-font-size30;
        }
        .pec-pop-message-tips {
            font-size: $pec-font-size22;
            color: $pec-color-ABABAB;
            margin-top: .2rem;
        }
    }
    .pec-pop-message-mask {
        position: absolute;
        left: 0;
        bottom: 0;
        right: .40rem;
        height: .25rem;
        background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), #fff 80%);
    }
    
}


/*综合排序*/

.pec-sift-list {
    position: absolute;
    z-index: 30;
    top: initial;
    left: 0;
    width: 100%;
    padding-bottom: .30rem;
    background: $pec-color-FFFFFF;
    -webkit-box-sizing: box-sizing;
    box-sizing: box-sizing;
    .pec-sift-item {
        color: $pec-color-ABABAB;
        font-size: $pec-font-size24;
        height: .80rem;
        padding-left: .30rem;
        @extend %pec-align-center;
        .pec-sift-item-body {
            margin-right: .30rem;
            @extend %pec-flex1;
        }
        .pec-sift-item-foot {
            margin-right: .30rem;
        }
        &.curr {
            color: $pec-color-F17940;
        }
    }
}






