@charset "UTF-8";


@import "pop-btn";
/*pwd*/

.pec-pop-pwd {
    font-size: 0;
    width: 5.30rem;
    height: .90rem;
    padding: 0 .20rem;
    margin-bottom: .56rem;
    border-radius: .08rem;
    border: 1px solid $pec-color-ABABAB;
    @extend %pec-align-center;
    span {
        position: relative;
        color: $pec-color-B2B2B2;
        font-size: $pec-font-size60;
        height: .16rem;
        display: inline-block;
        text-align: center;
        @extend %pec-flex1;
        &:before {
            position: absolute;
            content: "";
            top: 50%;
            left: 50%;
            width: .16rem;
            height: .16rem;
            display: inline-block;
            border-radius: 100%;
            background: $pec-color-B2B2B2;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    }
    .on:before {
        background: $pec-color-3F4246;
    }
}

.pec-pop-toa {
    border-radius: .08rem;
    border: 1px solid $pec-color-ABABAB;
    margin-bottom: .56rem;
    @extend %pec-align-center;
    input {
        font-size: $pec-font-size32;
        padding-left: .30rem;
        width: 3.10rem;
    }
    button {
        font-size: $pec-font-size28;
        color: $pec-color-F17940;
        @extend %pec-flex1;
        height: .90rem;
        text-align: center;
        border-left: 1px solid $pec-color-ABABAB;
        background: transparent;
        &.disabled {
            color: $pec-color-B2B2B2;
        }
    }
}

.pec-pop-pwd-errer,
.pec-pop-pwd-tips {
    color: $pec-color-FC1520;
    font-size: $pec-font-size22;
    padding-top: .16rem;
    padding-bottom: .26rem;
    margin-top: -.56rem;
    text-align: center;
}

.pec-pop-pwd-tips {
    color: $pec-color-B2B2B2;
}

.pec-pop-name {
    color: $pec-color-3F4246;
    font-size: $pec-font-size28;
    text-align: center;
    margin-top: -.30rem;
}

.pec-pop-money {
    color: $pec-color-F17940;
    font-size: $pec-font-size48;
    text-align: center;
}

.pec-pop-account {
    color: $pec-color-B2B2B2;
    font-size: $pec-font-size22;
    text-align: center;
    margin-top: .15rem;
    margin-bottom: .5rem;
}
