@charset "UTF-8";

/*list*/

.pec-list-title {
    color: $pec-color-ABABAB;
    font-size: $pec-font-size24;
    line-height: 1.26;
    padding: .20rem .30rem;
    background: $pec-color-F8F8F8;
}

.pec-list {
    position: relative;
    font-size: $pec-font-size28;
    background: $pec-color-FFFFFF;
    overflow: hidden;
    .pec-list-head,
    .pec-list-foot {
        position: relative;
        height: .90rem;
        padding-left: .30rem;
        @extend %pec-space-between;
        .pec-list-head-head,
        .pec-list-foot-head {
            color: $pec-color-3F4246;
            font-size: $pec-font-size34;
            margin-right: .30rem;
        }
        .pec-list-head-body,
        .pec-list-foot-body {
            color: $pec-color-3F4246;
            margin-right: .30rem;
            @extend %pec-flex1;
        }
        .pec-list-head-foot,
        .pec-list-foot-foot {
            margin-right: .30rem;
        }
    }
    .pec-list-head:after {
        position: absolute;
        display: block;
        content: '';
        z-index: 1;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: $pec-color-E6E6E6;
    }
    .pec-list-foot:before {
        position: absolute;
        display: block;
        content: '';
        z-index: 1;
        top: -1px;
        left: 0;
        width: 100%;
        height: 1px;
        background: $pec-color-E6E6E6;
    }
    .pec-list-item {
        line-height: 1.26;
        position: relative;
        min-height: 1.10rem;
        padding-top: .30rem;
        padding-bottom: .30rem;
        padding-left: .30rem;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        @extend %pec-space-between;
        &:after {
            position: absolute;
            display: block;
            content: '';
            z-index: 1;
            bottom: 0;
            left: 0;
            right: 0;
            // width: 100%;
            height: 1px;
            background: $pec-color-E6E6E6;
            // -webkit-transform-origin: 0 100%;
            // transform-origin: 0 100%;
            // transform: scaleY(0.5);
            // -webkit-transform: scaleY(0.5);
        }
        &:last-child:after {
            display: none;
        }
        .pec-item-head {
            color: $pec-color-63666B;
            font-size: $pec-font-size30;
            min-width: 2.20rem;
            max-width: 2.50rem;
            margin-right: .30rem;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
        .pec-item-media {
            margin-right: .30rem;
        }
        .pec-item-body {
            color: $pec-color-3F4246;
            font-size: $pec-font-size30;
            margin-right: .30rem;
            @extend %pec-flex1;
        }
        .pec-item-foot {
            margin-right: .30rem;
        }
        .pec-media-news {
            width: 1.70rem;
        }
    }
    .pec-head-tips {
        color: $pec-color-B2B2B2;
        margin-left: .16rem;
    }
    .pec-rate {
        color: $pec-color-F17940;
        font-size: $pec-font-size48;
        i {
            font-size: $pec-font-size24;
        }
    }
    .pec-rate-txt {
        color: $pec-color-6C7684;
        font-size: $pec-font-size24;
        margin-top: .40rem;
    }
    .pec-prodcut-name {
        font-size: $pec-font-size32;
    }
    .pec-prodcut-desc {
        color: $pec-color-6C7684;
        font-size: $pec-font-size26;
        margin-top: .20rem;
    }
    .pec-prodcut-tips {
        color: $pec-color-F17940;
        font-size: $pec-font-size24;
        margin-top: .20rem;
    }
    .pec-news-time {
        color: $pec-color-B2B2B2;
        font-size: $pec-font-size22;
        margin-top: .20rem;
    }
    .pec-tips {
        font-size: $pec-font-size24;
        color: $pec-color-B2B2B2;
    }
}

.pec-abs-tips {
    position: absolute;
    top: .75rem;
    font-size: $pec-font-size24;
    color: $pec-color-B2B2B2;
}

.pec-list-in .pec-list-item:after {
    left: .30rem;
}

.pec-list-allin .pec-list-item:after {
    left: .30rem;
    right: .30rem;
}

.pec-prodouct-list .pec-list-item {
    padding-top: .40rem;
    padding-bottom: .40rem;
    line-height: 1;
    // height: 2.00rem;
    &:after {
        left: .30rem;
        right: .30rem;
    }
    .pec-item-head {
        min-width: 2.20rem;
        max-width: 2.40rem;
        margin-right: 0;
        h3{
            font-family: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
            font-stretch: normal;
            font-size: $pec-font-size56;
            font-weight: bold;
            color: $pec-color-F17940;
            i{
                font-size: $pec-font-size40;
            }
            i + i{
                font-weight: normal;
            }
        }
        p{
            color: $pec-color-6C7684;
            font-size: $pec-font-size26;
            margin-bottom: .10rem;
            &:nth-of-type(2){
                margin-top: .10rem;
                margin-bottom: 0;
            }
            &:empty{
                display: none;
                
            }
        }
    }
    .pec-item-body{
        h3{
            color: $pec-color-3F4246;
            font-size: $pec-font-size34;
        }
        p{
            color: $pec-color-6C7684;
            font-size: $pec-font-size26;
            max-width: 3.20rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        h3 ~ p{
            margin-top: .20rem;
        }
    }
    
}

.pec-read-agreement {
    padding: .20rem .30rem;
    @extend %pec-flex;
    p {
        margin-left: .15rem;
        line-height: 1.5;
        @extend %pec-flex1;
    }
}

.pec-search {
    position: relative;
    padding: .10rem .30rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    .pec-search-input {
        font-size: $pec-font-size24;
        width: 100%;
        height: .60rem;
        line-height: .60rem;
        padding: 0 .60rem;
        display: block;
        border-radius: .60rem;
        border: 1px solid $pec-color-E6E6E6;
        background: $pec-color-FFFFFF;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .icon-search {
        position: absolute;
        top: .28rem;
        left: .32rem;
    }
    .icon-close {
        position: absolute;
        top: .28rem;
        right: .5rem;
    }
}

.pec-buy-quantity {
    @extend %pec-flex;
    .icon-subtraction {
        position: relative;
        width: .54rem;
        height: .54rem;
        display: block;
        border: 1px solid $pec-color-B2B2B2;
        border-radius: .05rem 0 0 .05rem;
        &:before {
            position: absolute;
            content: "";
            top: .24rem;
            left: .12rem;
            width: .28rem;
            height: .04rem;
            background: $pec-color-B2B2B2;
        }
    }
    .icon-Addition {
        position: relative;
        width: .54rem;
        height: .54rem;
        display: block;
        border: 1px solid $pec-color-B2B2B2;
        border-radius: 0 .05rem .05rem 0;
        &:before,
        &:after {
            position: absolute;
            content: "";
            top: .24rem;
            left: .12rem;
            width: .28rem;
            height: .04rem;
            background: $pec-color-B2B2B2;
        }
        &:after {
            top: .13rem;
            left: .25rem;
            width: .04rem;
            height: .28rem;
        }
    }
    i {
        width: .72rem;
        height: .54rem;
        line-height: .54rem;
        text-align: center;
        display: block;
        border-top: 1px solid $pec-color-B2B2B2;
        border-bottom: 1px solid $pec-color-B2B2B2;
    }
}

.label-news-local {
    font-size: $pec-font-size22;
    color: $pec-color-FFFFFF;
    height: .28rem;
    line-height: .28rem;
    display: inline-block;
    padding: 0 .10rem;
    background: $pec-color-649BD3;
    border-radius: .06rem;
}
