@charset "UTF-8";

/*tabbar*/

.pec-tabbar {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    border-top: 1px solid $pec-color-E6E6E6;
    background: $pec-color-FFFFFF;
    overflow: hidden;
    @extend %pec-flex;
    .pec-tabbar-item {
        text-align: center;
        padding-top: .20rem;
        padding-bottom: .10rem;
        @extend %pec-flex1;
        .pec-tab-item-icon{
            margin-bottom: .10rem;
            &:empty {
                display: none;
            }
        }
        .pec-tab-item-label {
            color: $pec-color-ABABAB;
            font-size: $pec-font-size28;
            line-height: 1;
        }
    }
}
.icon-tab1, .icon-tab2, .icon-tab3, .icon-tab4 {
    width: .5rem;
    height: .5rem;
    display: inline-block;
}
.icon-tab1 {
    background: url("../../images/common/icon-tab1.svg") no-repeat;
    background-size: .5rem .5rem;
}
.icon-tab2 {
    background: url("../../images/common/icon-tab2.svg") no-repeat;
    background-size: .5rem .5rem;
}
.icon-tab3 {
    background: url("../../images/common/icon-tab3.svg") no-repeat;
    background-size: .5rem .5rem;
}
.icon-tab4 {
    background: url("../../images/common/icon-tab4.svg") no-repeat;
    background-size: .5rem .5rem;
}
.curr .icon-tab1 {
    background: url("../../images/common/icon-tab1on.svg") no-repeat;
    background-size: .5rem .5rem;
}
.curr .icon-tab2 {
    background: url("../../images/common/icon-tab2on.svg") no-repeat;
    background-size: .5rem .5rem;
}
.curr .icon-tab3 {
    background: url("../../images/common/icon-tab3on.svg") no-repeat;
    background-size: .5rem .5rem;
}
.curr .icon-tab4 {
    background: url("../../images/common/icon-tab4on.svg") no-repeat;
    background-size: .5rem .5rem;
}