@charset "UTF-8";

/*toast*/

.pec-toast {
    position: fixed;
    z-index: 30;
    top: 50%;
    left: 50%;
    width: 4.90rem;
    color: $pec-color-FFFFFF;
    font-size: $pec-font-size28;
    text-align: center;
    line-height: 1.5;
    padding: .40rem .60rem;
    border-radius: .10rem;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    .pec-progress-big {
        font-size: 0;
        height: .12rem;
        text-align: left;
        margin-top: .2rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: .10rem;
        border-radius: .12rem;
        background: $pec-color-FFFFFF;
        span {
            font-size: 0;
            height: .12rem;
            display: inline-block;
            border-radius: .12rem;
            background: $pec-color-28B45F;
        }
    }
}
