@charset "UTF-8";

/*图标*/
.icon-back {
    width: .88rem;
    height: .88rem;
    display: inline-block;
    background: url("../../images/common/icon-back.svg") no-repeat;
    background-size: .88rem .88rem;
}
.icon-header-more {
    width: .88rem;
    height: .88rem;
    display: inline-block;
    background: url("../../images/common/icon-header-more.svg") no-repeat;
    background-size: .88rem .88rem;
}
.icon-arrow {
    width: .16rem;
    height: .24rem;
    margin-left: .16rem;
    display: inline-block;
    background: url("../../images/common/arrow-right.svg") no-repeat;
    background-size: .16rem .24rem;
    vertical-align: middle;
    margin-top: -2px;
}
.icon-arrow-down {
    width: .16rem;
    height: .24rem;
    margin-left: .16rem;
    display: inline-block;
    background: url("../../images/common/arrow-right.svg") no-repeat;
    background-size: .16rem .24rem;
    vertical-align: middle;
    margin-top: -4px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.curr .icon-arrow-down {
    -webkit-transition: transform .3s;
    -webkit-transform: rotate(-90deg);
    transition: transform .3s;
    transform: rotate(-90deg);
}
.icon-triangle {
    width: .12rem;
    height: .07rem;
    display: inline-block;
    background: url("../../images/common/icon-triangle.svg") no-repeat;
    background-size: .12rem .07rem;
    vertical-align: middle;
    margin-top: -4px;
}
.icon-sift {
    width: .21rem;
    height: .23rem;
    display: inline-block;
    background: url("../../images/common/icon-sift.png") no-repeat;
    background-size: .21rem .23rem;
    vertical-align: middle;
    margin-top: -2px;
}
.icon-result-ok {
    width: 1.40rem;
    height: 1.40rem;
    display: inline-block;
    background: url("../../images/common/icon-result-ok.svg") no-repeat;
    background-size: 1.40rem 1.40rem;
}
.icon-result-wrong {
    width: 1.40rem;
    height: 1.40rem;
    display: inline-block;
    background: url("../../images/common/icon-result-wrong.svg") no-repeat;
    background-size: 1.40rem 1.40rem;
}
.icon-check {
    width: .36rem;
    height: .36rem;
    display: inline-block;
    background: url("../../images/common/icon-check.svg") no-repeat;
    background-size: .36rem .36rem;
}
.icon-checked {
    width: .36rem;
    height: .36rem;
    display: inline-block;
    background: url("../../images/common/icon-checked.svg") no-repeat;
    background-size: .36rem .36rem;
}
.icon-error {
    width: .32rem;
    height: .32rem;
    display: inline-block;
    background: url("../../images/common/icon-error.svg") no-repeat;
    background-size: .32rem .32rem;
    vertical-align: middle;
    margin-top: -4px;
}
.icon-error2 {
    width: .23rem;
    height: .23rem;
    display: inline-block;
    background: url("../../images/common/icon-error2.svg") no-repeat;
    background-size: .23rem .23rem;
    vertical-align: middle;
    margin-top: -2px;
    margin-right: .2rem;
}
.icon-close {
    width: .24rem;
    height: .24rem;
    display: inline-block;
    background: url("../../images/common/icon-close.svg") no-repeat;
    background-size: .24rem .24rem;
}
.icon-close2 {
    width: .24rem;
    height: .24rem;
    display: inline-block;
    background: url("../../images/common/icon-close2.svg") no-repeat;
    background-size: .24rem .24rem;
}
.icon-position {
    width: .30rem;
    height: .36rem;
    display: inline-block;
    margin-left: .20rem;
    background: url("../../images/common/icon-position.svg") no-repeat;
    background-size: .30rem .36rem;
    vertical-align: middle;
    margin-top: -4px;
}
.icon-Search {
    width: .30rem;
    height: .30rem;
    display: inline-block;
    margin-left: .20rem;
    background: url("../../images/common/icon-Search.png") no-repeat;
    background-size: .30rem .30rem;
}
.icon-search {
    width: .24rem;
    height: .24rem;
    display: inline-block;
    margin-left: .20rem;
    background: url("../../images/common/icon-search.svg") no-repeat;
    background-size: .24rem .24rem;
}
.icon-search2 {
    width: .23rem;
    height: .22rem;
    display: inline-block;
    background: url("../../images/common/icon-search2.png") no-repeat;
    background-size: .23rem .22rem;
    vertical-align: middle;
    margin-top: -2px;
}
.icon-norecord {
    width: 2.29rem;
    height: 1.76rem;
    display: inline-block;
    background: url("../../images/common/icon-norecord.png") no-repeat;
    background-size: 2.29rem 1.76rem;
}
.icon-coming-soon {
    width: 2.21rem;
    height: 2.49rem;
    display: inline-block;
    background: url("../../images/common/icon-coming-soon.png") no-repeat;
    background-size: 2.21rem 2.49rem;
}
.icon-netword-error {
    width: 2.67rem;
    height: 3.02rem;
    display: inline-block;
    background: url("../../images/common/icon-netword-error.png") no-repeat;
    background-size: 2.67rem 3.02rem;
}
.icon-question {
    width: .27rem;
    height: .27rem;
    display: inline-block;
    background: url("../../images/common/icon-question.svg") no-repeat;
    background-size: .27rem .27rem;
    vertical-align: middle;
    margin-top: -2px;
}
.icon-question-mark {
    width: .32rem;
    height: .32rem;
    display: inline-block;
    background: url("../../images/common/icon-question-mark.svg") no-repeat;
    background-size: .32rem .32rem;
    vertical-align: text-bottom;
    margin-top: -2px;
}
.icon-tab-nav {
    position: absolute;
    top: 0;
    right: 0;
    width: .90rem;
    height: .90rem;
    display: inline-block;
    background: url("../../images/common/icon-tab-nav.png") no-repeat;
    background-size: .90rem .90rem;
    box-shadow: -20px 0 20px 0px rgba(255, 255, 255, 0.95);
}
.icon-spinnermenu {
    width: .44rem;
    height: .44rem;
    display: inline-block;
    background: url("../../images/common/icon-check.svg") no-repeat;
    background-size: .44rem .44rem;
    vertical-align: middle;
    margin-top: -6px;
}
.icon-sequence-up,
.icon-sequence-down,
.icon-sequence-normal {
    width: .13rem;
    height: .16rem;
    display: inline-block;
    background: url("../../images/common/icon-sequence-up.svg") no-repeat;
    background-size: .13rem .16rem;
    vertical-align: middle;
    margin-top: -4px;
    margin-left: .10rem;
}
.icon-sequence-down{
    background: url("../../images/common/icon-sequence-down.svg") no-repeat;
    background-size: .13rem .16rem;
}
.icon-sequence-normal{
    background: url("../../images/common/icon-sequence-normal.svg") no-repeat;
    background-size: .13rem .16rem;
}