@charset "UTF-8";

/* 标签重置 */
* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-appearance: none;
    outline: none;
    word-break: break-all;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    font-size: 100px;
}
html, body {
    height: 100%;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    // line-height: 1;
    vertical-align: baseline;
    -webkit-user-select: none;
}
body {
    background: #f8f8f8;
}
body {
    color: #333333;
    // font: 24px -apple-system-font, Helvetica Neue, Helvetica, sans-serif;
    font: 24px 'PingFang SC', 'Droid Sans';
    // font:Helvetica,"PingFang SC",arial,"Hiragino Sans GB","Microsoft YaHei UI", "Microsoft YaHei", "Source Han Sans CN",sans-serif;
    -webkit-font-smoothing: antialiased;
}
input, textarea, keygen, select, button {
    color: #333333;
    font: 28px 'PingFang SC', 'Droid Sans';
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border-radius: 0;
    border: none;
}

::-webkit-input-placeholder {
    color: #B2B2B2;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}
img {
    display: block;
    border: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input, .select {
    -webkit-user-select: initial;
    -webkit-appearance: none;
}
a {
    text-decoration: none;
}