<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>定活宝-定活通</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <meta name="x5-orientation" content="portrait" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=no" />
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    </head>
    <body>
        <div id="app"></div>
    <!--      <% if (htmlWebpackPlugin.options.env !== 'dev') { %>
            <script src="assets/js/runtime-check.js"></script>
        <% } %> -->
    </body>
</html>
