{
  "presets": [
    ["es2015-node6", { "modules": false }],
    "stage-3"
  ],
  "plugins": ["transform-runtime"],
  "comments": false,
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    }
  }
}
