@charset "UTF-8";

/*Live-by-pass*/

@import "../core/reset";
@import "../core/common";
@import "../ext/btn";
@import "../ext/form";
@import "../ext/header";
@import "../ext/icon";
@import "../ext/loadmore";
@import "../ext/navbar";
@import "../ext/tabbar";
@import "../ext/result";
@import "../ext/simple-list";
@import "../ext/spinnermenu";
@import "../ext/toast";
@import "../ext/messagebox";
@import "../ext/datepicker";
@import "../ext/picker";
@import "../ext/pwd";
.LBP-p1 {
  color: $pec-color-6C7684;
  font-size: $pec-font-size26;
  text-align: center;
}
.icon-pabank{
  width:.52rem;
  height:.28rem;
  display: block;
  background: url("../../images/common/icon-bank-pa.png") no-repeat;
  background-size: 100%;
}
.LBP-p2 {
  color: $pec-color-F17940;
  font-size: $pec-font-size48;
  text-align: center;
  margin-top: .10rem;
  margin-bottom: .10rem;
}

.LBP-desc {
  margin-top: .40rem;
  @extend %pec-flex;
  .LBP-p1 {
    margin-bottom: .10rem;
  }
  div {
    text-align: center;
    border-right: 1px solid $pec-color-E6E6E6;
    @extend %pec-flex1;
    &:last-child {
      border-right: 0;
    }
  }
}

.LBP-Trend {
  padding: .30rem;
  background: $pec-color-FFFFFF;
}

.LBP-Trend2 {
  padding: 0 .40rem .10rem;
  background: $pec-color-FFFFFF;
  li {
    color: $pec-color-999999;
    height: .70rem;
    line-height: .70rem;
    border-bottom: 1px solid $pec-color-E6E6E6;
    @extend %pec-flex;
    &:last-child {
      border-bottom: 0!important;
    }
    p {
      text-align: center;
      @extend %pec-flex1;
    }
  }
}

.colorline1,
.colorline2 {
  font-size: 0;
  background: $pec-color-F17940;
  width: .80rem;
  height: .04rem;
  line-height: 0;
  display: inline-block;
  margin-right: .20rem;
  vertical-align: middle;
}

.colorline2 {
  margin-left: .60rem;
  background: $pec-color-4477D2;
}

.icon-arrow.curr {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: transform .2s;
  transition: transform .2s;
}

.icon-share {
  width: .35rem;
  height: .38rem;
  display: inline-block;
  vertical-align: middle;
  margin-top: -6px;
  background: url("../../images/Live-by-pass/icon-share.png") no-repeat;
  background-size: 100%;
}
.icon-share2 {
  position: fixed;
  right:.40rem;
  bottom:2.00rem;
  width: .75rem;
  height: .75rem;
  display: inline-block;
  background: url("../../images/Live-by-pass/icon-share2.png") no-repeat;
  background-size: 100%;
}

.pec-LBP-list .pec-list-item .pec-item-head {
  min-width: 1.60rem;
}

.pec-abs-tips.pec-color-FC1520 {
  color: $pec-color-FC1520;
}

.pec-prodouct-list .pec-list-item .pec-item-head {
  min-width: 2.10rem;
  padding-left: .30rem;
}

.pec-list .pec-list-item2 {
  height: 1.40rem; }

.pec-width400 {
  width: 4.00rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pec-list-title {
  background: #faeaca!important;
}

.order-details-over {
  color: $pec-color-FFFFFF;
  font-size: $pec-font-size24;
  width: 100%;
  height: 2.58rem;
  text-align: center;
  background: url("../../images/Live-by-pass/Live-by-pass-img2.png") no-repeat;
  background-size: 100%;
  .momey {
    font-size: $pec-font-size70;
    padding-top: .70rem;
  }
}

.answers-01 {
  padding: 0 .3rem .15rem .3rem;
  line-height: .50rem;
  font-size: $pec-font-size30;
  color: $pec-color-3F4246;
  background: $pec-color-FFFFFF;
}

.payment-amount {
  font-size: $pec-font-size30;
  padding: .4rem;
  color: $pec-color-6C7684;
  .number {
    color: $pec-color-3F4246;
    margin-left: .7rem;
  }
}

.pec-list .pec-list-item .pec-item-head .pec-rate {
  font-size: 0.4rem;
  font-family: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; font-stretch:normal;
}

.pec-list .pec-list-item .pec-item-head .pec-rate .s1 {
  font-size: 0.56rem;
  font-weight: bold;
}

.pec-list .pec-list-item .pec-item-head .pec-rate .s2 {
  font-weight: bold;
}
.pec-list .pec-rate-txt {
  font-size: $pec-font-size28;
}
.pec-list.pec-prodouct-list .pec-prodcut-desc {
  font-size: $pec-font-size28;
  margin-top: .48rem;
}
.pec-list .pec-prodcut-desc {
  color:$pec-color-B2B2B2;
  margin-top: .30rem;
}
@charset "UTF-8";

/*add-ruansi*/
.back-icon{position: relative; display: inline-block;margin-right:0.15rem;width:0.4rem;height:0.4rem;background: url("../../images/common/icon-step-ok2.svg");background-size: 100%;}
.back-icon2{position: relative; display: inline-block;margin-right:0.15rem;width:0.4rem;height:0.4rem;background: url("../../images/common/icon-step-default.svg");background-size: 100%;}
.bord_h{position: absolute;top: 0.35rem;  left: 0.18rem;  width:0.03rem;  height:1.2rem;background:#1ab55b;}
.bord_h2{position: absolute;top: 0.38rem;  left: 0.18rem;  width:0.03rem;  height:1.2rem;background:#c9c9c9;}
.pec-list .pec-list-item2:after {  left: 0.83rem;}

/*我的定活通*/
.pec-rate-tips{
  position: absolute;
  top:1rem;
  font-size: 0.24rem;
  color: #B2B2B2;
  right:0.9rem;
}
.pec-day-tips{
  position: absolute;
  top: 1.5rem;
  font-size: 0.24rem;
  color: #B2B2B2;
}
.pec-acount-tips{
  position: absolute;
  top: 1.5rem;
  font-size: 0.24rem;
  color: #B2B2B2;
  right:0.9rem;
}
.pec-date-tips{
  position: absolute;
  top:1rem;
  font-size: 0.24rem;
  color: #B2B2B2;
}
.pec-padding-bottom150{
  padding-bottom:1.5rem;
}

/*交易详情*/
.pec-detail-p{
  text-align:center;
  color:#b2b2b2;
  font-size:0.24rem;
  margin-top:0.2rem;
}
.bgColorGray {
  background: #D9D9D9 !important; }

.icon-arrow.up {
  margin-top: -.06rem;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.icon-arrow.down {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
