@charset "UTF-8";

/*form*/
input[type="text"].pec-input {
	font-size: $pec-font-size30;
	padding-top: .10rem;
	padding-bottom: .10rem;
	width: 100%;
	height: .48rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.pec-textarea {
	font-size: $pec-font-size30;
	padding-top: .10rem;
	padding-right: .40rem;
	padding-bottom: .10rem;
}
.pec-position-relative input[type="text"].pec-input{
	padding-right: .40rem;
}
.pec-position-relative .icon-close{
	position: absolute;
	top: 0;
    right: 0;
    border-color: transparent;
    border-width: .12rem 0 .12rem .24rem;
    border-style: solid;
    -webkit-box-sizing: initial;
    box-sizing: initial;
}