@charset "UTF-8";

/*pull-refresh*/

.pec-pull-refresh {
    height: .90rem;
    text-align: center;
    padding-top: .38rem;
    padding-bottom: .38rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.icon-logo-little {
    width: .42rem;
    height: .34rem;
    display: inline-block;
    background: url("../../images/common/icon-logo-little.svg") no-repeat;
    background-size: .42rem .34rem;
    vertical-align: text-bottom;
    margin-top: -2px;
}
