@charset "UTF-8";

/*pop-btn*/

.pec-pop-btn {
    font-size: 0;
    border-top: 1px solid $pec-color-E6E6E6;
    button {
        font-size: $pec-font-size34;
        width: 50%;
        height: .90rem;
        background: $pec-color-FFFFFF;
        text-align: center;
        border-right: 1px solid $pec-color-E6E6E6;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        &:last-child {
            border-right: 0;
        }
    }
    .primary-btn {
        color: $pec-color-6C7684;
    }
    .orange-btn {
        color: $pec-color-F17940;
    }
    .disabled-btn {
        color: $pec-color-B2B2B2;
    }
    &.pec-by-vertical button {
        width: 100%;
        border-right: 0;
        border-bottom: 1px solid $pec-color-E6E6E6;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        &:last-child {
            border-bottom: 0;
        }
    }
}
