@charset "UTF-8";

/*spinnermenu*/

.pec-spinnermenu {
    position: absolute;
    top: 1.20rem;
    right: .20rem;
    z-index: 20;
    width: 2.60rem;
    padding: 0 .25rem;
    border-radius: .10rem;
    background: $pec-color-FFFFFF;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    &:before {
        position: absolute;
        top: -.20rem;
        right: .30rem;
        content: "";
        display: block;
        font-size: 0;
        line-height: 0;
        width: 0;
        height: 0;
        border: .20rem solid transparent;
        border-top: 0;
        border-bottom: .20rem solid $pec-color-FFFFFF;
    }
    &.top {
        left: .20rem;
        right: initial;
        &:before {
            top: initial;
            right: initial;
            left: .30rem;
            bottom: -.20rem;
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
        }
    }
    ul {
        li {
            position: relative;
            font-size: .28rem;
            height: .80rem;
            line-height: .80rem;
            overflow: hidden;
            &:after {
                content: " ";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 1px;
                background: $pec-color-E6E6E6;
            }
            &:last-child:after {
                display: none;
            }
            i {
                margin-right: .20rem;
            }
        }
    }
}
