@charset "UTF-8";
/*集合所有插件*/
/* 标签重置 */
* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-appearance: none;
  outline: none;
  word-break: break-all;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 100px; }

html, body {
  height: 100%; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-user-select: none; }

body {
  background: #f8f8f8; }

body {
  color: #333333;
  font: 24px 'PingFang SC', 'Droid Sans';
  -webkit-font-smoothing: antialiased; }

input, textarea, keygen, select, button {
  color: #333333;
  font: 28px 'PingFang SC', 'Droid Sans';
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  border-radius: 0;
  border: none; }

::-webkit-input-placeholder {
  color: #B2B2B2; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

img {
  display: block;
  border: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, .select {
  -webkit-user-select: initial;
  -webkit-appearance: none; }

a {
  text-decoration: none; }

/* 公共样式 */
header + section {
  padding-top: .88rem; }

section {
  padding-bottom: .20rem; }

.clearfix {
  clear: both;
  zoom: 1; }
  .clearfix:after, .clearfix:before {
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0; }
  .clearfix:after {
    clear: both; }

/*字号*/
.pec-font-size20 {
  font-size: 0.2rem !important; }

.pec-font-size22 {
  font-size: 0.22rem !important; }

.pec-font-size24 {
  font-size: 0.24rem !important; }

.pec-font-size26 {
  font-size: 0.26rem !important; }

.pec-font-size28 {
  font-size: 0.28rem !important; }

.pec-font-size30 {
  font-size: 0.3rem !important; }

.pec-font-size32 {
  font-size: 0.32rem !important; }

.pec-font-size34 {
  font-size: 0.34rem !important; }

.pec-font-size36 {
  font-size: 0.36rem !important; }

.pec-font-size40 {
  font-size: 0.4rem !important; }

.pec-font-size48 {
  font-size: 0.48rem !important; }

.pec-font-size56 {
  font-size: 0.56rem !important; }

.pec-font-size60 {
  font-size: 0.6rem !important; }

.pec-font-size70 {
  font-size: 0.7rem !important; }

/*字符颜色*/
.pec-color-1ab55b {
  color: #1ab55b !important; }

.pec-color-000000 {
  color: #000000 !important; }

.pec-color-3F4246 {
  color: #1E1E1E !important; }

.pec-color-63666B {
  color: #63666B !important; }

.pec-color-6C7684 {
  color: #6C7684 !important; }

.pec-color-999999 {
  color: #999999 !important; }

.pec-color-ABABAB {
  color: #ABABAB !important; }

.pec-color-B2B2B2 {
  color: #B2B2B2 !important; }

.pec-color-E6E6E6 {
  color: #E6E6E6 !important; }

.pec-color-F8F8F8 {
  color: #F8F8F8 !important; }

.pec-color-FFFFFF {
  color: #FFFFFF !important; }

.pec-color-4477D2 {
  color: #4175D5 !important; }

.pec-color-649BD3 {
  color: #649BD3 !important; }

.pec-color-FC1520 {
  color: #FC1520 !important; }

.pec-color-28B45F {
  color: #28B45F !important; }

.pec-color-D85F2A {
  color: #D85F2A !important; }

.pec-color-F17940 {
  color: #F37938 !important; }

.pec-bgc-fff {
  background: #FFFFFF !important; }

.pec-bgc-F8F8F8 {
  background: #F8F8F8; }

.pec-fiexd-bgc-fff {
  background: #FFFFFF;
  position: relative; }

.pec-fiexd-bgc-fff:before {
  background: #FFFFFF;
  position: fixed;
  display: block;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; }

.pec-holderbox {
  width: 100%;
  height: .20rem;
  font-size: 0;
  background: #F8F8F8; }

/*对齐,显示，隐藏等*/
.pec-position-relative {
  position: relative; }

.pec-position-absolute {
  position: absolute; }

.pec-pull-right {
  float: right; }

.pec-pull-left {
  float: left; }

.pec-text-left {
  text-align: left !important; }

.pec-text-center {
  text-align: center; }

.pec-text-justify {
  text-align: justify; }

.pec-text-right {
  text-align: right; }

.pec-hide {
  display: none; }

.pec-show {
  display: block; }

.pec-invisible {
  visibility: hidden; }

.pec-inline {
  display: inline-block;
  vertical-align: top; }

/*内边距、外边距*/
.pec-padding-top10 {
  padding-top: 0.1rem !important; }

.pec-padding-top20 {
  padding-top: 0.2rem !important; }

.pec-padding-top30 {
  padding-top: 0.3rem !important; }

.pec-padding-bottom10 {
  padding-bottom: 0.1rem !important; }

.pec-padding-bottom20 {
  padding-bottom: 0.2rem !important; }

.pec-padding-bottom30 {
  padding-bottom: 0.3rem !important; }

.pec-padding-bottom260 {
  padding-bottom: 2.6rem !important; }

.pec-padding-left30 {
  padding-left: 0.3rem !important; }

.pec-margin-top0 {
  margin-top: 0 !important; }

.pec-margin-top10 {
  margin-top: 0.1rem !important; }

.pec-margin-top20 {
  margin-top: 0.2rem !important; }

.pec-margin-top25 {
  margin-top: 0.25rem !important; }

.pec-margin-top30 {
  margin-top: 0.3rem !important; }

.pec-margin-top60 {
  margin-top: 0.6rem !important; }

.pec-margin-top110 {
  margin-top: 1.1rem !important; }

.pec-margin-bottom10 {
  margin-bottom: 0.1rem !important; }

.pec-margin-bottom20 {
  margin-bottom: 0.2rem !important; }

.pec-margin-bottom30 {
  margin-bottom: 0.3rem !important; }

.pec-margin-bottom200 {
  margin-bottom: 2rem !important; }

.pec-margin-left10 {
  margin-left: 0.1rem !important; }

.pec-margin-right20 {
  margin-right: 0.2rem !important; }

.pec-border-top0 {
  border-top: 0 !important; }

.pec-border-top0:before {
  height: 0 !important;
  border-top: 0 !important; }

.pec-width100 {
  width: 100%; }

hr {
  font-size: 0;
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
  height: 1px;
  background: #E6E6E6;
  border: 0; }

.pec-link {
  color: #4175D5; }
  .pec-link:active, .pec-link:visited {
    color: #4175D5; }

.pec-display-block {
  display: block !important; }

.pec-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex; }

.pec-flex1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1; }

.pec-flex2 {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  flex: 2; }

.pec-box-center {
  display: -webkit-box;
  display: box;
  -webkit-box-pack: center;
  box-pack: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center; }

.pec-align-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center; }

.pec-space-between {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center; }

.pec-flex-start {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start !important;
  align-items: flex-start !important; }

.pec-pop-datepicker .pec-datepicker, .pec-navbar, .pec-read-agreement, .pec-buy-quantity, .pec-tabbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex; }

.pec-btn-zone .pec-primary-btn,
.pec-btn-zone .pec-secondary-btn, .pec-pop-datepicker .pec-datepicker .pec-datepicker-list, .pec-sift-list .pec-sift-item .pec-sift-item-body, .pec-navbar .pec-navbar-item, .pec-sequence-tabbar .pec-sequence-tabbar-item, .pec-pop-picker .pec-picker-item .pec-picker-item-body, .pec-pop-pwd span, .pec-pop-toa button, .pec-Repayment-plan .pec-Repayment-list .pec-Repayment-item-body, .pec-a2b .pec-a2b-content .pec-a2b-content-head,
.pec-a2b .pec-a2b-content .pec-a2b-content-body,
.pec-a2b .pec-a2b-content .pec-a2b-content-foot, .pec-list .pec-list-head .pec-list-head-body,
.pec-list .pec-list-head .pec-list-foot-body,
.pec-list .pec-list-foot .pec-list-head-body,
.pec-list .pec-list-foot .pec-list-foot-body, .pec-list .pec-list-item .pec-item-body, .pec-read-agreement p, .pec-tabbar .pec-tabbar-item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1; }

.pec-a2b .pec-a2b-content .pec-a2b-content-body {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  flex: 2; }

.pec-btn-zone, .pec-sift-list .pec-sift-item, .pec-sequence-tabbar, .pec-pop-pwd, .pec-pop-toa, .pec-Repayment-plan .pec-Repayment-list .pec-Repayment-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center; }

header .pec-header-tab {
  display: -webkit-box;
  display: box;
  -webkit-box-pack: center;
  box-pack: center;
  -webkit-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  align-items: center; }

.pec-sequence-navbar, .pec-pop-picker .pec-picker-item, .pec-a2b .pec-a2b-title, .pec-a2b .pec-a2b-content, .pec-list .pec-list-head,
.pec-list .pec-list-foot, .pec-list .pec-list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center; }

/*按钮类*/
button.pec-primary-btn,
button.pec-secondary-btn,
button.pec-weak-btn {
  color: #FFFFFF;
  background: #F37938;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

button.pec-secondary-btn {
  color: #F37938;
  background: #FFFFFF;
  border: 1px solid #F37938; }

button[size="big"].pec-primary-btn,
button[size="big"].pec-secondary-btn {
  font-size: 0.34rem;
  height: .90rem;
  border-radius: .90rem;
  padding-left: .72rem;
  padding-right: .72rem; }

button[size="mid"].pec-primary-btn,
button[size="mid"].pec-secondary-btn {
  font-size: 0.26rem;
  height: .60rem;
  border-radius: .60rem;
  padding-left: .36rem;
  padding-right: .36rem; }

button[size="small"].pec-primary-btn,
button[size="small"].pec-secondary-btn {
  font-size: 0.22rem;
  height: .40rem;
  border-radius: .40rem;
  padding-left: .24rem;
  padding-right: .24rem;
  font-family: arial; }

button.pec-weak-btn {
  font-size: 0.32rem;
  height: .90rem;
  border-radius: .90rem;
  padding-left: .72rem;
  padding-right: .72rem;
  color: #63666B;
  background: #FFFFFF;
  border: 1px solid #63666B; }

button.pec-primary-btn:active {
  background: #D85F2A; }

button.pec-secondary-btn:active {
  color: #D85F2A;
  border-color: #D85F2A; }

button[disabled].pec-primary-btn {
  background: #D9D9D9 !important; }

button[disabled].pec-secondary-btn {
  color: #D9D9D9 !important;
  border-color: #D9D9D9 !important; }

.pec-btn-zone {
  font-size: 0;
  padding-left: .30rem;
  padding-right: .30rem; }
  .pec-btn-zone button + button {
    margin-left: .30rem; }

.pec-by-vertical {
  display: block; }
  .pec-by-vertical button {
    width: 100%; }
  .pec-by-vertical button + button {
    margin-top: .30rem;
    margin-left: 0; }

.pec-fiexd-btn {
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: .20rem;
  padding-bottom: .20rem;
  border-top: 1px solid #E6E6E6;
  background: #FFFFFF;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.pec-inline-btn {
  color: #F37938;
  font-size: 0.26rem;
  min-width: 1.20rem;
  height: .60rem;
  line-height: .60rem;
  text-align: center;
  padding: 0 .30rem;
  border-radius: .60rem;
  border: 0.02rem solid #F37938; }
  .pec-inline-btn:active {
    color: #D85F2A;
    background: #FFFFFF;
    border: 1px solid #D85F2A; }

.pec-inline-disabled-btn {
  color: #B2B2B2;
  font-size: 0.26rem;
  width: 1.20rem;
  height: .60rem;
  line-height: .60rem;
  text-align: center;
  border-radius: .60rem;
  border: 2px solid #B2B2B2; }

/*开关*/
.pec-switch {
  position: relative;
  width: 1.10rem;
  height: .24rem;
  border-radius: .24rem;
  border: 1px solid #B2B2B2;
  background: #E6E6E6; }
  .pec-switch:before {
    position: absolute;
    content: "";
    top: -.2rem;
    left: -.06em;
    width: .55rem;
    height: .55rem;
    border-radius: 100%;
    border: 1px solid #E6E6E6;
    background: #FFFFFF;
    box-shadow: 0px 0.06rem 0px 0px #f3f3f3; }
  .pec-switch.on {
    transition: background .3s;
    border: 1px solid #28B45F;
    background: #28B45F; }
  .pec-switch.on:before {
    transition: left .3s;
    left: .52rem; }

/*datepicker*/
.pec-pop-datepicker {
  position: fixed;
  z-index: 30;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #FFFFFF; }
  .pec-pop-datepicker .pec-datepicker-title {
    position: relative;
    height: 1.10rem;
    line-height: 1.10rem;
    border-bottom: 1px solid #E6E6E6; }
    .pec-pop-datepicker .pec-datepicker-title .pec-datepicker-title-head {
      position: absolute;
      top: 0;
      left: 0;
      padding: 0 .30rem;
      height: 1.10rem;
      line-height: 1.10rem;
      color: #ABABAB;
      font-size: 0.28rem; }
    .pec-pop-datepicker .pec-datepicker-title .pec-datepicker-title-body {
      font-size: 0.36rem;
      text-align: center;
      padding: 0 2rem; }
    .pec-pop-datepicker .pec-datepicker-title .pec-datepicker-title-foot {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0 .30rem;
      height: 1.10rem;
      line-height: 1.10rem;
      color: #F37938;
      font-size: 0.28rem; }
  .pec-pop-datepicker .pec-datepicker {
    position: relative;
    height: 2.9rem;
    padding: .66rem .40rem;
    overflow: hidden;
    -webkit-box-sizing: initial;
    box-sizing: initial; }
    .pec-pop-datepicker .pec-datepicker:before, .pec-pop-datepicker .pec-datepicker:after {
      position: absolute;
      content: "";
      display: block;
      width: 100%;
      height: 1.70rem;
      left: 0; }
    .pec-pop-datepicker .pec-datepicker:before {
      top: 0;
      border-bottom: 1px solid #E6E6E6; }
    .pec-pop-datepicker .pec-datepicker:after {
      bottom: 0;
      border-top: 1px solid #E6E6E6; }
    .pec-pop-datepicker .pec-datepicker .pec-datepicker-list {
      color: #1E1E1E;
      text-align: center; }

/*form*/
input[type="text"].pec-input {
  font-size: 0.3rem;
  padding-top: .10rem;
  padding-bottom: .10rem;
  width: 100%;
  height: .48rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.pec-textarea {
  font-size: 0.3rem;
  padding-top: .10rem;
  padding-right: .40rem;
  padding-bottom: .10rem; }

.pec-position-relative input[type="text"].pec-input {
  padding-right: .40rem; }

.pec-position-relative .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  border-color: transparent;
  border-width: .12rem 0 .12rem .24rem;
  border-style: solid;
  -webkit-box-sizing: initial;
  box-sizing: initial; }

/*freedom-selection*/
.pec-freedom-selection-list {
  font-size: 0;
  padding: .30rem;
  padding-right: 0;
  background: #FFFFFF; }
  .pec-freedom-selection-list .pec-freedom-selection-item {
    width: 33.3333%;
    display: inline-block;
    padding-right: .30rem;
    margin-bottom: .30rem; }
    .pec-freedom-selection-list .pec-freedom-selection-item .pec-freedom-btn {
      color: #1E1E1E;
      font-size: 0.26rem;
      height: .56rem;
      text-align: center;
      line-height: .56rem;
      border-radius: .04rem;
      border: 2px solid #ABABAB; }
      .pec-freedom-selection-list .pec-freedom-selection-item .pec-freedom-btn:nth-child(3n) {
        padding-right: 0; }
    .pec-freedom-selection-list .pec-freedom-selection-item.curr .pec-freedom-btn {
      position: relative;
      color: #F37938;
      border: 2px solid #F37938; }
      .pec-freedom-selection-list .pec-freedom-selection-item.curr .pec-freedom-btn:after {
        position: absolute;
        content: "";
        right: 0;
        bottom: 0;
        width: .38rem;
        height: .36rem;
        background: url("../../images/common/icon-bg-hook.svg") no-repeat;
        background-size: .38rem .36rem; }

/*header*/
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: .88rem;
  font-size: .28rem;
  text-align: center;
  background: #FFFFFF;
  border-bottom: 1px solid #d9d9d9; }
  header .pec-header-left {
    height: .88rem; }
  header .pec-header-title {
    height: .88rem;
    line-height: .88rem;
    position: absolute;
    color: #F37938;
    font-size: .36rem;
    text-align: center;
    right: 1.50rem;
    left: 1.50rem;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  header .pec-header-left, header .pec-header-right {
    position: absolute;
    left: .30rem;
    color: #F37938;
    font-size: .28rem;
    line-height: .88rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center; }
  header .pec-header-right {
    left: initial;
    right: .30rem; }
  header .pec-header-tab {
    height: .88rem; }
    header .pec-header-tab .pec-header-tab-item {
      width: 2.20rem;
      height: .62rem;
      line-height: .62rem;
      text-align: center;
      color: #F37938;
      font-size: 0.26rem;
      border: 1px solid #F37938;
      background: #FFFFFF; }
      header .pec-header-tab .pec-header-tab-item.curr {
        color: #FFFFFF;
        background: #F37938; }
      header .pec-header-tab .pec-header-tab-item:first-child {
        border-radius: .62rem 0 0 .62rem; }
      header .pec-header-tab .pec-header-tab-item:last-child {
        border-radius: 0 .62rem .62rem 0; }

/*图标*/
.icon-back {
  width: .88rem;
  height: .88rem;
  display: inline-block;
  background: url("../../images/common/icon-back.svg") no-repeat;
  background-size: .88rem .88rem; }

.icon-header-more {
  width: .88rem;
  height: .88rem;
  display: inline-block;
  background: url("../../images/common/icon-header-more.svg") no-repeat;
  background-size: .88rem .88rem; }

.icon-arrow {
  width: .16rem;
  height: .24rem;
  margin-left: .16rem;
  display: inline-block;
  background: url("../../images/common/arrow-right.svg") no-repeat;
  background-size: .16rem .24rem;
  vertical-align: middle;
  margin-top: -2px; }

.icon-arrow-down {
  width: .16rem;
  height: .24rem;
  margin-left: .16rem;
  display: inline-block;
  background: url("../../images/common/arrow-right.svg") no-repeat;
  background-size: .16rem .24rem;
  vertical-align: middle;
  margin-top: -4px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }

.curr .icon-arrow-down {
  -webkit-transition: transform .3s;
  -webkit-transform: rotate(-90deg);
  transition: transform .3s;
  transform: rotate(-90deg); }

.icon-triangle {
  width: .12rem;
  height: .07rem;
  display: inline-block;
  background: url("../../images/common/icon-triangle.svg") no-repeat;
  background-size: .12rem .07rem;
  vertical-align: middle;
  margin-top: -4px; }

.icon-sift {
  width: .21rem;
  height: .23rem;
  display: inline-block;
  background: url("../../images/common/icon-sift.png") no-repeat;
  background-size: .21rem .23rem;
  vertical-align: middle;
  margin-top: -2px; }

.icon-result-ok {
  width: 1.40rem;
  height: 1.40rem;
  display: inline-block;
  background: url("../../images/common/icon-result-ok.svg") no-repeat;
  background-size: 1.40rem 1.40rem; }

.icon-result-wrong {
  width: 1.40rem;
  height: 1.40rem;
  display: inline-block;
  background: url("../../images/common/icon-result-wrong.svg") no-repeat;
  background-size: 1.40rem 1.40rem; }

.icon-check {
  width: .36rem;
  height: .36rem;
  display: inline-block;
  background: url("../../images/common/icon-check.svg") no-repeat;
  background-size: .36rem .36rem; }

.icon-checked {
  width: .36rem;
  height: .36rem;
  display: inline-block;
  background: url("../../images/common/icon-checked.svg") no-repeat;
  background-size: .36rem .36rem; }

.icon-error {
  width: .32rem;
  height: .32rem;
  display: inline-block;
  background: url("../../images/common/icon-error.svg") no-repeat;
  background-size: .32rem .32rem;
  vertical-align: middle;
  margin-top: -4px; }

.icon-error2 {
  width: .23rem;
  height: .23rem;
  display: inline-block;
  background: url("../../images/common/icon-error2.svg") no-repeat;
  background-size: .23rem .23rem;
  vertical-align: middle;
  margin-top: -2px;
  margin-right: .2rem; }

.icon-close {
  width: .24rem;
  height: .24rem;
  display: inline-block;
  background: url("../../images/common/icon-close.svg") no-repeat;
  background-size: .24rem .24rem; }

.icon-close2 {
  width: .24rem;
  height: .24rem;
  display: inline-block;
  background: url("../../images/common/icon-close2.svg") no-repeat;
  background-size: .24rem .24rem; }

.icon-position {
  width: .30rem;
  height: .36rem;
  display: inline-block;
  margin-left: .20rem;
  background: url("../../images/common/icon-position.svg") no-repeat;
  background-size: .30rem .36rem;
  vertical-align: middle;
  margin-top: -4px; }

.icon-Search {
  width: .30rem;
  height: .30rem;
  display: inline-block;
  margin-left: .20rem;
  background: url("../../images/common/icon-Search.png") no-repeat;
  background-size: .30rem .30rem; }

.icon-search {
  width: .24rem;
  height: .24rem;
  display: inline-block;
  margin-left: .20rem;
  background: url("../../images/common/icon-search.svg") no-repeat;
  background-size: .24rem .24rem; }

.icon-search2 {
  width: .23rem;
  height: .22rem;
  display: inline-block;
  background: url("../../images/common/icon-search2.png") no-repeat;
  background-size: .23rem .22rem;
  vertical-align: middle;
  margin-top: -2px; }

.icon-norecord {
  width: 2.29rem;
  height: 1.76rem;
  display: inline-block;
  background: url("../../images/common/icon-norecord.png") no-repeat;
  background-size: 2.29rem 1.76rem; }

.icon-coming-soon {
  width: 2.21rem;
  height: 2.49rem;
  display: inline-block;
  background: url("../../images/common/icon-coming-soon.png") no-repeat;
  background-size: 2.21rem 2.49rem; }

.icon-netword-error {
  width: 2.67rem;
  height: 3.02rem;
  display: inline-block;
  background: url("../../images/common/icon-netword-error.png") no-repeat;
  background-size: 2.67rem 3.02rem; }

.icon-question {
  width: .27rem;
  height: .27rem;
  display: inline-block;
  background: url("../../images/common/icon-question.svg") no-repeat;
  background-size: .27rem .27rem;
  vertical-align: middle;
  margin-top: -2px; }

.icon-question-mark {
  width: .32rem;
  height: .32rem;
  display: inline-block;
  background: url("../../images/common/icon-question-mark.svg") no-repeat;
  background-size: .32rem .32rem;
  vertical-align: text-bottom;
  margin-top: -2px; }

.icon-tab-nav {
  position: absolute;
  top: 0;
  right: 0;
  width: .90rem;
  height: .90rem;
  display: inline-block;
  background: url("../../images/common/icon-tab-nav.png") no-repeat;
  background-size: .90rem .90rem;
  box-shadow: -20px 0 20px 0px rgba(255, 255, 255, 0.95); }

.icon-spinnermenu {
  width: .44rem;
  height: .44rem;
  display: inline-block;
  background: url("../../images/common/icon-check.svg") no-repeat;
  background-size: .44rem .44rem;
  vertical-align: middle;
  margin-top: -6px; }

.icon-sequence-up,
.icon-sequence-down,
.icon-sequence-normal {
  width: .13rem;
  height: .16rem;
  display: inline-block;
  background: url("../../images/common/icon-sequence-up.svg") no-repeat;
  background-size: .13rem .16rem;
  vertical-align: middle;
  margin-top: -4px;
  margin-left: .10rem; }

.icon-sequence-down {
  background: url("../../images/common/icon-sequence-down.svg") no-repeat;
  background-size: .13rem .16rem; }

.icon-sequence-normal {
  background: url("../../images/common/icon-sequence-normal.svg") no-repeat;
  background-size: .13rem .16rem; }

/*loading*/
.pec-loading {
  position: fixed;
  z-index: 30;
  top: 50%;
  left: 50%;
  width: 2.0rem;
  height: 2.0rem;
  color: #FFFFFF;
  font-size: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  border-radius: .10rem;
  overflow: hidden;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .pec-loading .pec-loading-logo {
    width: .80rem;
    height: .80rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: .60rem;
    background: url("../../images/common/icon-loading-logo.png") no-repeat;
    background-size: .80rem .80rem; }
    .pec-loading .pec-loading-logo .pec-loading-round {
      width: .80rem;
      height: .80rem;
      display: inline-block;
      background: url("../../images/common/icon-loading-round.png") no-repeat;
      background-size: .80rem .80rem;
      -webkit-animation: rotate 0.8s infinite linear;
      animation: rotate 0.8s infinite linear; }
  .pec-loading p {
    margin-top: .15rem;
    font-size: 0.22rem; }
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
/*pull-refresh*/
.pec-pull-refresh {
  height: .90rem;
  text-align: center;
  padding-top: .38rem;
  padding-bottom: .38rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.icon-logo-little {
  width: .42rem;
  height: .34rem;
  display: inline-block;
  background: url("../../images/common/icon-logo-little.svg") no-repeat;
  background-size: .42rem .34rem;
  vertical-align: text-bottom;
  margin-top: -2px; }

/*messagebox*/
/*pop-btn*/
.pec-pop-btn {
  font-size: 0;
  border-top: 1px solid #E6E6E6; }
  .pec-pop-btn button {
    font-size: 0.34rem;
    width: 50%;
    height: .90rem;
    background: #FFFFFF;
    text-align: center;
    border-right: 1px solid #E6E6E6;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .pec-pop-btn button:last-child {
      border-right: 0; }
  .pec-pop-btn .primary-btn {
    color: #6C7684; }
  .pec-pop-btn .orange-btn {
    color: #F37938; }
  .pec-pop-btn .disabled-btn {
    color: #B2B2B2; }
  .pec-pop-btn.pec-by-vertical button {
    width: 100%;
    border-right: 0;
    border-bottom: 1px solid #E6E6E6;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .pec-pop-btn.pec-by-vertical button:last-child {
      border-bottom: 0; }

.pec-mask {
  position: fixed;
  z-index: 20;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000000;
  opacity: .6; }

.pec-mask2 {
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 100%;
  top: initial;
  left: 0;
  background: #000000;
  opacity: .6; }

.pec-pop {
  position: fixed;
  z-index: 30;
  top: 50%;
  left: 50%;
  width: 5.90rem;
  padding-top: .60rem;
  border-radius: .10rem;
  overflow: hidden;
  background: #FFFFFF;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .pec-pop h3 {
    font-size: 0.36rem;
    line-height: 1;
    font-weight: normal;
    padding: 0 .84rem .50rem;
    text-align: center; }
  .pec-pop .pec-pop-content {
    position: relative;
    padding-left: .30rem;
    padding-right: .30rem; }
  .pec-pop .pec-pop-main {
    max-height: 2.90rem;
    padding-left: .54rem;
    padding-right: .54rem;
    margin-bottom: .40rem;
    line-height: 1.5;
    text-align: justify;
    overflow-y: auto; }
    .pec-pop .pec-pop-main .pec-pop-message {
      color: #6C7684;
      font-size: 0.3rem; }
    .pec-pop .pec-pop-main .pec-pop-message-tips {
      font-size: 0.22rem;
      color: #ABABAB;
      margin-top: .2rem; }
  .pec-pop .pec-pop-message-mask {
    position: absolute;
    left: 0;
    bottom: 0;
    right: .40rem;
    height: .25rem;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), #fff 80%); }

/*综合排序*/
.pec-sift-list {
  position: absolute;
  z-index: 30;
  top: initial;
  left: 0;
  width: 100%;
  padding-bottom: .30rem;
  background: #FFFFFF;
  -webkit-box-sizing: box-sizing;
  box-sizing: box-sizing; }
  .pec-sift-list .pec-sift-item {
    color: #ABABAB;
    font-size: 0.24rem;
    height: .80rem;
    padding-left: .30rem; }
    .pec-sift-list .pec-sift-item .pec-sift-item-body {
      margin-right: .30rem; }
    .pec-sift-list .pec-sift-item .pec-sift-item-foot {
      margin-right: .30rem; }
    .pec-sift-list .pec-sift-item.curr {
      color: #F37938; }

/*navbar*/
.pec-navbar {
  position: relative;
  background: #FFFFFF;
  overflow: hidden; }
  .pec-navbar .pec-navbar-item {
    position: relative;
    height: .90rem;
    text-align: center;
    display: inline-block; }
    .pec-navbar .pec-navbar-item .pec-tab-item-icon:empty {
      display: none; }
    .pec-navbar .pec-navbar-item .pec-tab-item-label {
      position: relative;
      color: #1E1E1E;
      font-size: 0.28rem;
      height: .90rem;
      line-height: .90rem;
      text-align: center;
      display: inline-block; }
    .pec-navbar .pec-navbar-item.curr .pec-tab-item-label {
      color: #F37938; }
    .pec-navbar .pec-navbar-item.curr .pec-tab-item-label:after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 100%;
      height: .04rem;
      border-radius: .04rem;
      background: #F37938; }
  .pec-navbar.pec-navbar-more {
    font-size: 0;
    white-space: nowrap;
    display: block; }
    .pec-navbar.pec-navbar-more .pec-navbar-item {
      width: 1.40rem; }
  .pec-navbar.pec-navbar-full .pec-navbar-item:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: .02rem;
    border-radius: .02rem;
    background: #E6E6E6; }
  .pec-navbar.pec-navbar-full .pec-navbar-item.curr:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: .04rem;
    border-radius: .04rem;
    background: #F37938; }
  .pec-navbar.pec-navbar-full .pec-navbar-item .pec-tab-item-label {
    color: #6C7684; }
  .pec-navbar.pec-navbar-full .pec-navbar-item.curr .pec-tab-item-label {
    color: #6C7684; }
    .pec-navbar.pec-navbar-full .pec-navbar-item.curr .pec-tab-item-label:after {
      height: 0; }

.pec-sequence-navbar {
  height: .90rem;
  padding-left: .30rem;
  padding-right: .30rem;
  border-bottom: 1px solid #E6E6E6;
  background: #FFFFFF; }
  .pec-sequence-navbar .pec-sequence-item {
    color: #63666B;
    font-size: 0.28rem; }

.pec-sequence-tabbar {
  height: .70rem;
  border-bottom: 1px solid #E6E6E6;
  background: #FFFFFF; }
  .pec-sequence-tabbar .pec-sequence-tabbar-item {
    color: #1E1E1E;
    font-size: 0.24rem;
    text-align: center;
    border-right: 1px solid #B2B2B2; }
    .pec-sequence-tabbar .pec-sequence-tabbar-item:last-child {
      border-right: 0 !important; }

/*picker*/
.pec-pop-picker {
  position: fixed;
  z-index: 30;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #FFFFFF; }
  .pec-pop-picker .pec-picker-title {
    position: relative;
    height: 1.10rem;
    line-height: 1.10rem;
    border-bottom: 1px solid #E6E6E6; }
    .pec-pop-picker .pec-picker-title .pec-picker-title-head {
      position: absolute;
      top: 0;
      left: 0;
      padding: 0 .30rem;
      height: 1.10rem;
      line-height: 1.10rem;
      color: #ABABAB;
      font-size: 0.28rem; }
    .pec-pop-picker .pec-picker-title .pec-picker-title-body {
      font-size: 0.36rem;
      text-align: center;
      padding: 0 2rem; }
    .pec-pop-picker .pec-picker-title .pec-picker-title-foot {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0 .30rem;
      height: 1.10rem;
      line-height: 1.10rem;
      color: #F37938;
      font-size: 0.28rem; }
  .pec-pop-picker .pec-picker-list {
    max-height: 7.20rem;
    position: relative;
    overflow-y: auto; }
  .pec-pop-picker .pec-picker-item {
    position: relative;
    min-height: 1.20rem;
    line-height: 1;
    padding-top: .30rem;
    padding-bottom: .30rem;
    padding-left: .30rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .pec-pop-picker .pec-picker-item:after {
      position: absolute;
      display: block;
      content: '';
      z-index: 1;
      bottom: 0;
      left: .30rem;
      right: .30rem;
      height: 1px;
      background: #E6E6E6; }
    .pec-pop-picker .pec-picker-item:last-child:after {
      height: 0; }
    .pec-pop-picker .pec-picker-item .pec-picker-item-head {
      width: .52rem;
      margin-right: .30rem; }
      .pec-pop-picker .pec-picker-item .pec-picker-item-head img {
        width: 100%; }
    .pec-pop-picker .pec-picker-item .pec-picker-item-body {
      color: #1E1E1E;
      font-size: 0.28rem;
      margin-right: .30rem; }
    .pec-pop-picker .pec-picker-item .pec-picker-item-foot {
      margin-right: .30rem; }
    .pec-pop-picker .pec-picker-item .pec-picker-item-tips {
      color: #B2B2B2;
      font-size: 0.24rem;
      margin-top: .1rem; }

/*pop-btn*/
.pec-pop-btn {
  font-size: 0;
  border-top: 1px solid #E6E6E6; }
  .pec-pop-btn button {
    font-size: 0.34rem;
    width: 50%;
    height: .90rem;
    background: #FFFFFF;
    text-align: center;
    border-right: 1px solid #E6E6E6;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .pec-pop-btn button:last-child {
      border-right: 0; }
  .pec-pop-btn .primary-btn {
    color: #6C7684; }
  .pec-pop-btn .orange-btn {
    color: #F37938; }
  .pec-pop-btn .disabled-btn {
    color: #B2B2B2; }
  .pec-pop-btn.pec-by-vertical button {
    width: 100%;
    border-right: 0;
    border-bottom: 1px solid #E6E6E6;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .pec-pop-btn.pec-by-vertical button:last-child {
      border-bottom: 0; }

/*pwd*/
.pec-pop-pwd {
  font-size: 0;
  width: 5.30rem;
  height: .90rem;
  padding: 0 .20rem;
  margin-bottom: .56rem;
  border-radius: .08rem;
  border: 1px solid #ABABAB; }
  .pec-pop-pwd span {
    position: relative;
    color: #B2B2B2;
    font-size: 0.6rem;
    height: .16rem;
    display: inline-block;
    text-align: center; }
    .pec-pop-pwd span:before {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;
      width: .16rem;
      height: .16rem;
      display: inline-block;
      border-radius: 100%;
      background: #B2B2B2;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  .pec-pop-pwd .on:before {
    background: #1E1E1E; }

.pec-pop-toa {
  border-radius: .08rem;
  border: 1px solid #ABABAB;
  margin-bottom: .56rem; }
  .pec-pop-toa input {
    font-size: 0.32rem;
    padding-left: .30rem;
    width: 3.10rem; }
  .pec-pop-toa button {
    font-size: 0.28rem;
    color: #F37938;
    height: .90rem;
    text-align: center;
    border-left: 1px solid #ABABAB;
    background: transparent; }
    .pec-pop-toa button.disabled {
      color: #B2B2B2; }

.pec-pop-pwd-errer,
.pec-pop-pwd-tips {
  color: #FC1520;
  font-size: 0.22rem;
  padding-top: .16rem;
  padding-bottom: .26rem;
  margin-top: -.56rem;
  text-align: center; }

.pec-pop-pwd-tips {
  color: #B2B2B2; }

.pec-pop-name {
  color: #1E1E1E;
  font-size: 0.28rem;
  text-align: center;
  margin-top: -.30rem; }

.pec-pop-money {
  color: #F37938;
  font-size: 0.48rem;
  text-align: center; }

.pec-pop-account {
  color: #B2B2B2;
  font-size: 0.22rem;
  text-align: center;
  margin-top: .15rem;
  margin-bottom: .5rem; }

/*result*/
.pec-result {
  padding-top: .60rem;
  padding-bottom: .60rem;
  text-align: center;
  background: #FFFFFF; }
  .pec-result .pec-result-txt {
    font-size: 0.36rem;
    padding-top: .30rem; }
  .pec-result .pec-result-txt2 {
    color: #1E1E1E;
    font-size: 0.3rem;
    line-height: 1.5;
    text-align: center;
    padding-top: .30rem;
    width: 6.00rem;
    margin: 0 auto; }
  .pec-result .pec-result-txt3 {
    color: #B2B2B2;
    font-size: 0.24rem;
    line-height: 1.5;
    text-align: center;
    padding-top: .60rem;
    width: 4.40rem;
    margin: 0 auto; }

.pec-result-norecord {
  text-align: center;
  padding-top: 1.20rem;
  padding-bottom: .70rem; }
  .pec-result-norecord .pec-result-txt {
    color: #B2B2B2;
    font-size: 0.3rem;
    line-height: 1.5;
    text-align: center;
    padding-top: .20rem;
    width: 4.40rem;
    margin: 0 auto; }

.pec-result-error {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: .44rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }
  .pec-result-error .pec-result-txt {
    color: #B2B2B2;
    font-size: 0.3rem;
    line-height: 1.5;
    text-align: center;
    padding-top: .20rem;
    width: 4.40rem;
    margin: 0 auto; }

.pec-step-result {
  padding: .40rem .40rem .40rem 1.0rem;
  background: #FFFFFF; }
  .pec-step-result .pec-step-result-item {
    position: relative;
    padding-bottom: .40rem;
    white-space: nowrap; }
    .pec-step-result .pec-step-result-item:last-child {
      padding-bottom: .10rem; }
    .pec-step-result .pec-step-result-item:first-child:before {
      top: 0; }
    .pec-step-result .pec-step-result-item:last-child:before {
      height: 60%;
      top: -54%; }
    .pec-step-result .pec-step-result-item:after {
      position: absolute;
      content: "";
      top: 0;
      left: -.50rem;
      width: .34rem;
      height: .34rem;
      display: inline-block;
      background: url("../../images/common/icon-step-default.svg") no-repeat;
      background-size: .34rem .34rem; }
    .pec-step-result .pec-step-result-item:before {
      position: absolute;
      content: "";
      top: -40%;
      left: -.35rem;
      width: .02rem;
      height: 100%;
      display: inline-block;
      background: #B2B2B2; }
    .pec-step-result .pec-step-result-item.on:after {
      position: absolute;
      content: "";
      top: 0;
      left: -.50rem;
      z-index: 1;
      width: .34rem;
      height: .34rem;
      display: inline-block;
      background: url("../../images/common/icon-step-ok.svg") no-repeat;
      background-size: .34rem .34rem; }
    .pec-step-result .pec-step-result-item.on:before {
      position: absolute;
      content: "";
      top: 0;
      left: -.35rem;
      width: .02rem;
      height: 100%;
      display: inline-block;
      background: #28B45F; }
    .pec-step-result .pec-step-result-item.on:last-child:before {
      top: -100%; }
    .pec-step-result .pec-step-result-item.onlyone:before {
      display: none; }
    .pec-step-result .pec-step-result-item.overruled:after {
      position: absolute;
      content: "";
      top: 0;
      left: -.51rem;
      z-index: 1;
      width: .34rem;
      height: .34rem;
      display: inline-block;
      background: url("../../images/common/icon-close.svg") no-repeat;
      background-size: .34rem .34rem; }
    .pec-step-result .pec-step-result-item.overruled:before {
      position: absolute;
      content: "";
      top: .30rem;
      left: -.35rem;
      width: .02rem;
      height: 100%;
      display: inline-block;
      background: #B2B2B2; }
    .pec-step-result .pec-step-result-item p {
      line-height: 1.2;
      font-size: 0.32rem; }
    .pec-step-result .pec-step-result-item .p1 {
      color: #B2B2B2;
      font-size: 0.24rem;
      margin-top: .15rem; }
    .pec-step-result .pec-step-result-item .p2 {
      font-size: 0.28rem;
      margin-top: .15rem; }

.pec-Repayment-plan {
  margin: 0 .30rem;
  padding-top: .5rem;
  border-top: 1px dashed #B2B2B2; }
  .pec-Repayment-plan .pec-Repayment-title {
    font-size: 0.28rem;
    color: #1E1E1E; }
  .pec-Repayment-plan .pec-Repayment-list .pec-Repayment-item {
    font-size: 0.28rem;
    padding-top: .3rem; }
  .pec-Repayment-plan .pec-Repayment-list .pec-Repayment-item-head {
    color: #B2B2B2;
    width: 2.00rem; }

.pec-a2b {
  background: #FFFFFF; }
  .pec-a2b .pec-a2b-title {
    color: #1E1E1E;
    font-size: 0.28rem;
    height: .90rem;
    padding-left: .30rem;
    padding-right: .30rem;
    border-bottom: 1px solid #E6E6E6; }
  .pec-a2b .pec-a2b-content {
    margin-left: .30rem;
    margin-right: .30rem;
    padding: .30rem;
    color: #1E1E1E;
    font-size: 0.24rem;
    border-bottom: 1px solid #E6E6E6; }
    .pec-a2b .pec-a2b-content .pec-a2b-content-head,
    .pec-a2b .pec-a2b-content .pec-a2b-content-body,
    .pec-a2b .pec-a2b-content .pec-a2b-content-foot {
      text-align: center; }
      .pec-a2b .pec-a2b-content .pec-a2b-content-head .name,
      .pec-a2b .pec-a2b-content .pec-a2b-content-body .name,
      .pec-a2b .pec-a2b-content .pec-a2b-content-foot .name {
        font-size: 0.32rem;
        margin-top: .06rem; }
    .pec-a2b .pec-a2b-content .pec-a2b-content-body .money {
      color: #F37938;
      font-size: 0.36rem;
      margin-top: .06rem; }

/*list*/
.pec-list-title {
  color: #ABABAB;
  font-size: 0.24rem;
  line-height: 1.26;
  padding: .20rem .30rem;
  background: #F8F8F8; }

.pec-list {
  position: relative;
  font-size: 0.28rem;
  background: #FFFFFF;
  overflow: hidden; }
  .pec-list .pec-list-head,
  .pec-list .pec-list-foot {
    position: relative;
    height: .90rem;
    padding-left: .30rem; }
    .pec-list .pec-list-head .pec-list-head-head,
    .pec-list .pec-list-head .pec-list-foot-head,
    .pec-list .pec-list-foot .pec-list-head-head,
    .pec-list .pec-list-foot .pec-list-foot-head {
      color: #1E1E1E;
      font-size: 0.34rem;
      margin-right: .30rem; }
    .pec-list .pec-list-head .pec-list-head-body,
    .pec-list .pec-list-head .pec-list-foot-body,
    .pec-list .pec-list-foot .pec-list-head-body,
    .pec-list .pec-list-foot .pec-list-foot-body {
      color: #1E1E1E;
      margin-right: .30rem; }
    .pec-list .pec-list-head .pec-list-head-foot,
    .pec-list .pec-list-head .pec-list-foot-foot,
    .pec-list .pec-list-foot .pec-list-head-foot,
    .pec-list .pec-list-foot .pec-list-foot-foot {
      margin-right: .30rem; }
  .pec-list .pec-list-head:after {
    position: absolute;
    display: block;
    content: '';
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #E6E6E6; }
  .pec-list .pec-list-foot:before {
    position: absolute;
    display: block;
    content: '';
    z-index: 1;
    top: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #E6E6E6; }
  .pec-list .pec-list-item {
    line-height: 1.26;
    position: relative;
    min-height: 1.10rem;
    padding-top: .30rem;
    padding-bottom: .30rem;
    padding-left: .30rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .pec-list .pec-list-item:after {
      position: absolute;
      display: block;
      content: '';
      z-index: 1;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background: #E6E6E6; }
    .pec-list .pec-list-item:last-child:after {
      display: none; }
    .pec-list .pec-list-item .pec-item-head {
      color: #63666B;
      font-size: 0.3rem;
      min-width: 2.20rem;
      max-width: 2.50rem;
      margin-right: .30rem;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
    .pec-list .pec-list-item .pec-item-media {
      margin-right: .30rem; }
    .pec-list .pec-list-item .pec-item-body {
      color: #1E1E1E;
      font-size: 0.3rem;
      margin-right: .30rem; }
    .pec-list .pec-list-item .pec-item-foot {
      margin-right: .30rem; }
    .pec-list .pec-list-item .pec-media-news {
      width: 1.70rem; }
  .pec-list .pec-head-tips {
    color: #B2B2B2;
    margin-left: .16rem; }
  .pec-list .pec-rate {
    color: #F37938;
    font-size: 0.48rem; }
    .pec-list .pec-rate i {
      font-size: 0.24rem; }
  .pec-list .pec-rate-txt {
    color: #6C7684;
    font-size: 0.24rem;
    margin-top: .40rem; }
  .pec-list .pec-prodcut-name {
    font-size: 0.32rem; }
  .pec-list .pec-prodcut-desc {
    color: #6C7684;
    font-size: 0.26rem;
    margin-top: .20rem; }
  .pec-list .pec-prodcut-tips {
    color: #F37938;
    font-size: 0.24rem;
    margin-top: .20rem; }
  .pec-list .pec-news-time {
    color: #B2B2B2;
    font-size: 0.22rem;
    margin-top: .20rem; }
  .pec-list .pec-tips {
    font-size: 0.24rem;
    color: #B2B2B2; }

.pec-abs-tips {
  position: absolute;
  top: .75rem;
  font-size: 0.24rem;
  color: #B2B2B2; }

.pec-list-in .pec-list-item:after {
  left: .30rem; }

.pec-list-allin .pec-list-item:after {
  left: .30rem;
  right: .30rem; }

.pec-prodouct-list .pec-list-item {
  padding-top: .40rem;
  padding-bottom: .40rem;
  line-height: 1; }
  .pec-prodouct-list .pec-list-item:after {
    left: .30rem;
    right: .30rem; }
  .pec-prodouct-list .pec-list-item .pec-item-head {
    min-width: 2.20rem;
    max-width: 2.40rem;
    margin-right: 0; }
    .pec-prodouct-list .pec-list-item .pec-item-head h3 {
      font-family: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
      font-stretch: normal;
      font-size: 0.56rem;
      font-weight: bold;
      color: #F37938; }
      .pec-prodouct-list .pec-list-item .pec-item-head h3 i {
        font-size: 0.4rem; }
      .pec-prodouct-list .pec-list-item .pec-item-head h3 i + i {
        font-weight: normal; }
    .pec-prodouct-list .pec-list-item .pec-item-head p {
      color: #6C7684;
      font-size: 0.26rem;
      margin-bottom: .10rem; }
      .pec-prodouct-list .pec-list-item .pec-item-head p:nth-of-type(2) {
        margin-top: .10rem;
        margin-bottom: 0; }
  .pec-prodouct-list .pec-list-item .pec-item-body h3 {
    color: #1E1E1E;
    font-size: 0.34rem; }
  .pec-prodouct-list .pec-list-item .pec-item-body p {
    color: #6C7684;
    font-size: 0.26rem;
    max-width: 3.20rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .pec-prodouct-list .pec-list-item .pec-item-body h3 ~ p {
    margin-top: .20rem; }

.pec-read-agreement {
  padding: .20rem .30rem; }
  .pec-read-agreement p {
    margin-left: .15rem;
    line-height: 1.5; }

.pec-search {
  position: relative;
  padding: .10rem .30rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .pec-search .pec-search-input {
    font-size: 0.24rem;
    width: 100%;
    height: .60rem;
    line-height: .60rem;
    padding: 0 .60rem;
    display: block;
    border-radius: .60rem;
    border: 1px solid #E6E6E6;
    background: #FFFFFF;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .pec-search .icon-search {
    position: absolute;
    top: .28rem;
    left: .32rem; }
  .pec-search .icon-close {
    position: absolute;
    top: .28rem;
    right: .5rem; }

.pec-buy-quantity .icon-subtraction {
  position: relative;
  width: .54rem;
  height: .54rem;
  display: block;
  border: 1px solid #B2B2B2;
  border-radius: .05rem 0 0 .05rem; }
  .pec-buy-quantity .icon-subtraction:before {
    position: absolute;
    content: "";
    top: .24rem;
    left: .12rem;
    width: .28rem;
    height: .04rem;
    background: #B2B2B2; }
.pec-buy-quantity .icon-Addition {
  position: relative;
  width: .54rem;
  height: .54rem;
  display: block;
  border: 1px solid #B2B2B2;
  border-radius: 0 .05rem .05rem 0; }
  .pec-buy-quantity .icon-Addition:before, .pec-buy-quantity .icon-Addition:after {
    position: absolute;
    content: "";
    top: .24rem;
    left: .12rem;
    width: .28rem;
    height: .04rem;
    background: #B2B2B2; }
  .pec-buy-quantity .icon-Addition:after {
    top: .13rem;
    left: .25rem;
    width: .04rem;
    height: .28rem; }
.pec-buy-quantity i {
  width: .72rem;
  height: .54rem;
  line-height: .54rem;
  text-align: center;
  display: block;
  border-top: 1px solid #B2B2B2;
  border-bottom: 1px solid #B2B2B2; }

.label-news-local {
  font-size: 0.22rem;
  color: #FFFFFF;
  height: .28rem;
  line-height: .28rem;
  display: inline-block;
  padding: 0 .10rem;
  background: #649BD3;
  border-radius: .06rem; }

/*Slide*/
.pec-slide {
  position: relative; }
  .pec-slide .pec-slide-item a {
    display: block;
    text-decoration: none; }
    .pec-slide .pec-slide-item a img {
      width: 100%; }
  .pec-slide .pec-slide-state {
    position: absolute;
    bottom: .24rem;
    left: 0;
    width: 100%;
    height: .12rem;
    text-align: center; }
  .pec-slide .pec-slide-state i {
    display: inline-block;
    width: .12rem;
    height: .12rem;
    border-radius: 100%;
    background: #cccccc;
    margin: 0 .06rem; }
  .pec-slide .pec-slide-state i.curr {
    background: #F17940; }

/*spinnermenu*/
.pec-spinnermenu {
  position: absolute;
  top: 1.20rem;
  right: .20rem;
  z-index: 20;
  width: 2.60rem;
  padding: 0 .25rem;
  border-radius: .10rem;
  background: #FFFFFF;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .pec-spinnermenu:before {
    position: absolute;
    top: -.20rem;
    right: .30rem;
    content: "";
    display: block;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
    border: .20rem solid transparent;
    border-top: 0;
    border-bottom: 0.2rem solid #FFFFFF; }
  .pec-spinnermenu.top {
    left: .20rem;
    right: initial; }
    .pec-spinnermenu.top:before {
      top: initial;
      right: initial;
      left: .30rem;
      bottom: -.20rem;
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg); }
  .pec-spinnermenu ul li {
    position: relative;
    font-size: .28rem;
    height: .80rem;
    line-height: .80rem;
    overflow: hidden; }
    .pec-spinnermenu ul li:after {
      content: " ";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background: #E6E6E6; }
    .pec-spinnermenu ul li:last-child:after {
      display: none; }
    .pec-spinnermenu ul li i {
      margin-right: .20rem; }

/*tabbar*/
.pec-tabbar {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  border-top: 1px solid #E6E6E6;
  background: #FFFFFF;
  overflow: hidden; }
  .pec-tabbar .pec-tabbar-item {
    text-align: center;
    padding-top: .20rem;
    padding-bottom: .10rem; }
    .pec-tabbar .pec-tabbar-item .pec-tab-item-icon {
      margin-bottom: .10rem; }
      .pec-tabbar .pec-tabbar-item .pec-tab-item-icon:empty {
        display: none; }
    .pec-tabbar .pec-tabbar-item .pec-tab-item-label {
      color: #ABABAB;
      font-size: 0.28rem;
      line-height: 1; }

.icon-tab1, .icon-tab2, .icon-tab3, .icon-tab4 {
  width: .5rem;
  height: .5rem;
  display: inline-block; }

.icon-tab1 {
  background: url("../../images/common/icon-tab1.svg") no-repeat;
  background-size: .5rem .5rem; }

.icon-tab2 {
  background: url("../../images/common/icon-tab2.svg") no-repeat;
  background-size: .5rem .5rem; }

.icon-tab3 {
  background: url("../../images/common/icon-tab3.svg") no-repeat;
  background-size: .5rem .5rem; }

.icon-tab4 {
  background: url("../../images/common/icon-tab4.svg") no-repeat;
  background-size: .5rem .5rem; }

.curr .icon-tab1 {
  background: url("../../images/common/icon-tab1on.svg") no-repeat;
  background-size: .5rem .5rem; }

.curr .icon-tab2 {
  background: url("../../images/common/icon-tab2on.svg") no-repeat;
  background-size: .5rem .5rem; }

.curr .icon-tab3 {
  background: url("../../images/common/icon-tab3on.svg") no-repeat;
  background-size: .5rem .5rem; }

.curr .icon-tab4 {
  background: url("../../images/common/icon-tab4on.svg") no-repeat;
  background-size: .5rem .5rem; }

/*toast*/
.pec-toast {
  position: fixed;
  z-index: 30;
  top: 50%;
  left: 50%;
  width: 4.90rem;
  color: #FFFFFF;
  font-size: 0.28rem;
  text-align: center;
  line-height: 1.5;
  padding: .40rem .60rem;
  border-radius: .10rem;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .pec-toast .pec-progress-big {
    font-size: 0;
    height: .12rem;
    text-align: left;
    margin-top: .2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .10rem;
    border-radius: .12rem;
    background: #FFFFFF; }
    .pec-toast .pec-progress-big span {
      font-size: 0;
      height: .12rem;
      display: inline-block;
      border-radius: .12rem;
      background: #28B45F; }

/*# sourceMappingURL=all-in.css.map */
