@charset "UTF-8";

/* 公共样式 */

header + section{padding-top: .88rem;}

section {padding-bottom: .20rem;}

.clearfix {
    clear: both;
    zoom: 1;
    &:after,
    &:before {
        content: ".";
        display: block;
        font-size: 0;
        height: 0;
        line-height: 0;
        overflow: hidden;
        visibility: hidden;
        width: 0;
    }
    &:after {
        clear: both;
    }
}

/*字号*/
$pec-font-size20:.20rem;
$pec-font-size22:.22rem;
$pec-font-size24:.24rem;
$pec-font-size26:.26rem;
$pec-font-size28:.28rem;
$pec-font-size32:.32rem;
$pec-font-size30:.30rem;
$pec-font-size34:.34rem;
$pec-font-size36:.36rem;
$pec-font-size40:.40rem;
$pec-font-size48:.48rem;
$pec-font-size56:.56rem;
$pec-font-size60:.60rem;
$pec-font-size70:.70rem;
.pec-font-size20{font-size:$pec-font-size20!important;}
.pec-font-size22{font-size:$pec-font-size22!important;}
.pec-font-size24{font-size:$pec-font-size24!important;}
.pec-font-size26{font-size:$pec-font-size26!important;}
.pec-font-size28{font-size:$pec-font-size28!important;}
.pec-font-size30{font-size:$pec-font-size30!important;}
.pec-font-size32{font-size:$pec-font-size32!important;}
.pec-font-size34{font-size:$pec-font-size34!important;}
.pec-font-size36{font-size:$pec-font-size36!important;}
.pec-font-size40{font-size:$pec-font-size40!important;}
.pec-font-size48{font-size:$pec-font-size48!important;}
.pec-font-size56{font-size:$pec-font-size56!important;}
.pec-font-size60{font-size:$pec-font-size60!important;}
.pec-font-size70{font-size:$pec-font-size70!important;}

/*字符颜色*/
$pec-color-1ab55b:#1ab55b;
$pec-color-000000:#000000;
$pec-color-3F4246:#1E1E1E;
$pec-color-63666B:#63666B;
$pec-color-6C7684:#6C7684;
$pec-color-999999:#999999;
$pec-color-ABABAB:#ABABAB;
$pec-color-B2B2B2:#B2B2B2;
$pec-color-E6E6E6:#E6E6E6;
$pec-color-F8F8F8:#F8F8F8;
$pec-color-FFFFFF:#FFFFFF;
$pec-color-4477D2:#4175D5;
$pec-color-649BD3:#649BD3;
$pec-color-FC1520:#FC1520;
$pec-color-28B45F:#28B45F;
$pec-color-D85F2A:#D85F2A;
$pec-color-F17940:#F37938;
// $pec-color-DADADA:#DADADA!important;
// $pec-color-333333:#333333!important;
// $pec-color-E7E7E7:#E7E7E7!important;
// $pec-color-F37937:#F37937!important;
// $pec-color-4175D5:#4175D5!important;
.pec-color-1ab55b{color:$pec-color-1ab55b!important;}
.pec-color-000000{color:$pec-color-000000!important;}
.pec-color-3F4246{color:$pec-color-3F4246!important;}
.pec-color-63666B{color:$pec-color-63666B!important;}
.pec-color-6C7684{color:$pec-color-6C7684!important;}
.pec-color-999999{color:$pec-color-999999!important;}
.pec-color-ABABAB{color:$pec-color-ABABAB!important;}
.pec-color-B2B2B2{color:$pec-color-B2B2B2!important;}
.pec-color-E6E6E6{color:$pec-color-E6E6E6!important;}
.pec-color-F8F8F8{color:$pec-color-F8F8F8!important;}
.pec-color-FFFFFF{color:$pec-color-FFFFFF!important;}
.pec-color-4477D2{color:$pec-color-4477D2!important;}
.pec-color-649BD3{color:$pec-color-649BD3!important;}
.pec-color-FC1520{color:$pec-color-FC1520!important;}
.pec-color-28B45F{color:$pec-color-28B45F!important;}
.pec-color-D85F2A{color:$pec-color-D85F2A!important;}
.pec-color-F17940{color:$pec-color-F17940!important;}
.pec-bgc-fff{background:$pec-color-FFFFFF!important;}
.pec-bgc-F8F8F8{background:$pec-color-F8F8F8;}
.pec-fiexd-bgc-fff{background:$pec-color-FFFFFF;position:relative;}
.pec-fiexd-bgc-fff:before{background:$pec-color-FFFFFF;position:fixed;display:block;content:"";top:0;left:0;right:0;bottom:0;z-index:-1}

.pec-holderbox {
    width: 100%;
    height: .20rem;
    font-size: 0;
    background: $pec-color-F8F8F8;
}

/*对齐,显示，隐藏等*/
.pec-position-relative  {position:relative;}
.pec-position-absolute  {position:absolute;}
.pec-pull-right         {float:right;}
.pec-pull-left          {float:left;}
.pec-text-left          {text-align:left!important;}
.pec-text-center        {text-align:center;}
.pec-text-justify       {text-align:justify;}
.pec-text-right         {text-align:right;}
.pec-hide               {display:none;}
.pec-show               {display:block;}
.pec-invisible          {visibility:hidden;}
.pec-inline             {display:inline-block;vertical-align:top;}

/*内边距、外边距*/
.pec-padding-top10      {padding-top:.10rem!important;}
.pec-padding-top20      {padding-top:.20rem!important;}
.pec-padding-top30      {padding-top:.30rem!important;}
.pec-padding-bottom10   {padding-bottom:.10rem!important;}
.pec-padding-bottom20   {padding-bottom:.20rem!important;}
.pec-padding-bottom30   {padding-bottom:.30rem!important;}
.pec-padding-bottom260  {padding-bottom:2.60rem!important;}
.pec-padding-left30     {padding-left:.30rem!important;}
.pec-margin-top0        {margin-top:0!important;}
.pec-margin-top10       {margin-top:.10rem!important;}
.pec-margin-top20       {margin-top:.20rem!important;}
.pec-margin-top25       {margin-top:.25rem!important;}
.pec-margin-top30       {margin-top:.30rem!important;}
.pec-margin-top60       {margin-top:.60rem!important;}
.pec-margin-top110       {margin-top:1.10rem!important;}
.pec-margin-bottom10    {margin-bottom:.10rem!important;}
.pec-margin-bottom20    {margin-bottom:.20rem!important;}
.pec-margin-bottom30    {margin-bottom:.30rem!important;}
.pec-margin-bottom200   {margin-bottom:2.00rem!important;}
.pec-margin-left10      {margin-left:.10rem!important;}
.pec-margin-right20     {margin-right:.20rem!important;}

.pec-border-top0{border-top:0!important;}
.pec-border-top0:before{height:0!important;border-top:0!important;}

.pec-width100{width:100%;}

hr {
    font-size: 0;
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
    height: 1px;
    background: $pec-color-E6E6E6;
    border: 0;
}

.pec-link {
    color: $pec-color-4477D2;
    &:active,
    &:visited {
        color: $pec-color-4477D2;
    }
}

.pec-display-block{
    display: block!important;
}
.pec-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.pec-flex1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.pec-flex2 {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    flex: 2;
}

.pec-box-center {
    display: -webkit-box;
    display: box;
    -webkit-box-pack: center;
    box-pack: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.pec-align-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.pec-space-between {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.pec-flex-start{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-start!important;
    align-items: flex-start!important;
}

@mixin pec-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

@mixin pec-flex1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

@mixin pec-flex2 {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    flex: 2;
}

@mixin pec-align-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

@mixin pec-box-center {
    display: -webkit-box;
    display: box;
    -webkit-box-pack: center;
    box-pack: center;
    -webkit-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

@mixin pec-space-between {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
@mixin pec-flex-start{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

%pec-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

%pec-flex1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

%pec-flex2 {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    flex: 2;
}

%pec-align-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

%pec-box-center {
    display: -webkit-box;
    display: box;
    -webkit-box-pack: center;
    box-pack: center;
    -webkit-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

%pec-space-between {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
%pec-flex-start{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}


